@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: banglaBold;
    src: url(assets/font/HindSiliguri-Bold.ttf);
}

.banglaBold {
    font-family: banglaBold;
}
.banglaNav {
    font-family: banglaMed;
    
}
.banglaNav:hover{
    font-family: banglaBold
}
@font-face {
    font-family: banglaLight;
    src: url(assets/font/HindSiliguri-Light.ttf);
}

.banglaLight {
    font-family: banglaLight;
}
@font-face {
    font-family: banglaMed;
    src: url(assets/font/HindSiliguri-Medium.ttf);
}

.banglaMed {
    font-family: banglaMed;
}
@font-face {
    font-family: banglaReg;
    src: url(assets/font/HindSiliguri-Regular.ttf);
}

.banglaReg {
    font-family: banglaReg;
}
@font-face {
    font-family: banglaReg;
    src: url(assets/font/HindSiliguri-Regular.ttf);
}

.banglaReg {
    font-family: banglaReg;
}
@font-face {
    font-family: banglaSemi;
    src: url(assets/font/HindSiliguri-SemiBold.ttf);
}

.banglaSemi {
    font-family: banglaSemi;
}
@font-face {
    font-family: fontLogo;
    src: url(assets/font/Headline-Bangla-Unicode-Italic-1.ttf);
}

.fontLogo {
    font-family: fontLogo;
}

.containerNew {
    width: 100%;
}
@media (min-width: 576px) {
    .containerNew {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .containerNew {
        max-width: 675px;
    }
}
@media (min-width: 834px) {
    .containerNew {
        max-width: 741px;
    }
}
@media (min-width: 834px) {
    .containerNew {
        max-width: 741px;
    }
}
@media (min-width: 1200px) {
    .containerNew {
        max-width: 1047px;
    }
}
@media (min-width: 1366px) {
    .containerNew {
        max-width: 1214px;
    }
}
@media (min-width: 1440px) {
    .containerNew {
        max-width: 1287px;
    }
}
@media (min-width: 1536px) {
    .containerNew {
        max-width: 1387px;
    }
}

.text-login{
    color: #DF0707;
}
.bg-login{
    background-color: #DF0707;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  .text-b{
    color: #1E1E1E;
  }
